.btn {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: var(--fw-medium);
  color: var(--clr-white-full);
  border-radius: var(--border-radius-sm);
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.btn:focus {
  outline: 2px solid var(--clr-primary-mid);
}

.btn-primary {
  background-color: var(--clr-primary-full);
}

.btn-secondary {
  color: var(--clr-primary-full);
  background-color: var(--clr-white-full);
  border: 1px solid var(--clr-primary-mid);
}

.btn-success {
  background-color: var(--clr-success-full);
}

.btn-caution {
  background-color: var(--clr-caution-full);
}

.btn-error {
  background-color: var(--clr-error-full);
}

.btn-link {
  color: var(--clr-primary-full);
  background-color: var(--clr-primary-hover);
}

.btn-icon {
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius-full);
  background-color: var(--clr-primary-full);
}

.btn-fa {
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  display: inline-flex;
  border-radius: var(--border-radius-full);
}
