.top-navigation {
  height: 4rem;
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.top-navigation .left {
  flex: 1;
}

.top-navigation .center {
  flex: 4;
  list-style: none;
}

.top-navigation .right {
  flex: 1;
}
