/* ----------------Heading----------------- */

h1,
h2,
h3,
h4,
h5 {
  font-weight: var(--fw-regular);
  margin: 0;
}

h1,
.heading-xl {
  font-size: 3rem;
  letter-spacing: -1.5px;
  line-height: 1.5em;
}

h2,
.heading-lg {
  font-size: 2rem;
  letter-spacing: -0.5px;
  line-height: 1.5em;
}

h3,
.heading-md {
  font-size: 1.5rem;
  letter-spacing: 0px;
  line-height: 1.5em;
}

h4,
.heading-sm {
  font-size: 1rem;
  letter-spacing: -1px;
  line-height: 1.5em;
}

h5,
.heading-xs {
  font-size: 0.5rem;
  letter-spacing: -0.28px;
  line-height: 1.5em;
}

/* ----------------Text----------------- */

.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-md {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

/* ----------------Text alignment----------------- */

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.text-clr-gray {
  color: var(--clr-black-mid);
}
